
h6 {
    font-family: 'billabong', 'billabongregular';
    font-size: 13rem;
    font-weight: 100; /* font thickness */
    margin: 12px 0; /* vertical horizontal margins */
    letter-spacing: -1px; /* space between each letter */
} /* h1 */

@font-face {
    font-family: 'billabongregular';
    src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot");
    src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix") format('embedded-opentype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff") format('woff'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf") format('truetype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular") format('svg');
    font-weight: normal;
    font-style: normal;
} /* @font-face */